{% extends 'base.html' %} 
{% block title %}
  {{ movie.name }} ({{movie.release_year }})
{% endblock title %}
{% block content %}
<hr>

<section>
    <header>
        <h3>Resenhas</h3>
    </header>
    <ul>
        {% if movie.review_set.all %}
            {% for review in movie.review_set.all %}
                <figure>
                    <blockquote>
                        "{{ review.text }}"
                    </blockquote>
                    <figcaption>—{{ review.author }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não existe nenhuma resenha para este filme.</p>
        {% endif %}
        <li>Ano de Lançamento: {{ movie.release_year }} </li>
        {% if movie.list_set.all %}
            <li>Incluso nas listas: {{ movie.list_set.all|join:", " }} </li>
        {% endif %}
    </ul>
  
    <hr>

    <a href="{% url 'movies:review' movie.pk %}"><button>Crie sua Resenha</button></a>
</section>

{% endblock content %}